@font-face {
    font-family: "brauerneue-bold";
    src: url("https://s3-ap-southeast-2.amazonaws.com/qantasfiles/lineto-brauerneue-bold.eot");
    src: url("https://s3-ap-southeast-2.amazonaws.com/qantasfiles/lineto-brauerneue-bold.eot?#iefix") format("embedded-opentype"), url("https://s3-ap-southeast-2.amazonaws.com/qantasfiles/lineto-brauerneue-bold.woff") format("woff"), url("https://s3-ap-southeast-2.amazonaws.com/qantasfiles/lineto-brauerneue-bold.ttf") format("truetype"), url("https://s3-ap-southeast-2.amazonaws.com/qantasfiles/lineto-brauerneue-bold.svg#lineto-brauerneue-bold") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "brauerneue-regular";
    src: url("https://s3-ap-southeast-2.amazonaws.com/qantasfiles/lineto-brauerneue-regular.eot");
    src: url("https://s3-ap-southeast-2.amazonaws.com/qantasfiles/lineto-brauerneue-regular.eot?#iefix") format("embedded-opentype"), url("https://s3-ap-southeast-2.amazonaws.com/qantasfiles/lineto-brauerneue-regular.woff") format("woff"), url("https://s3-ap-southeast-2.amazonaws.com/qantasfiles/lineto-brauerneue-regular.ttf") format("truetype"), url("https://s3-ap-southeast-2.amazonaws.com/qantasfiles/lineto-brauerneue-regular.svg#lineto-brauerneue-regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
	background-color: black;
	font-family: 'brauerneue-regular', sans-serif;
}

#banner {
	position: relative;
	width: 300px;
	height: 250px;
	margin: 5% auto;
	border : 2px solid white;
	overflow: hidden;
}

#video {
	position: absolute;
	width: 100%;
	height: 100%;
}

#mask {
	position: absolute;
	width: 800%;
	right: -364%;
	top: -289%;
}

#red {
	position: absolute;
	width: 5%;
	left: 43%;
	top: 58%;
	opacity: 0.8;
}

#blue {
	position: absolute;
	width: 16%;
	left: 50%;
	top: 30%;
	opacity: 0.8;
}

#white {
	position: absolute;
	width: 45%;
	top: 79%;
	left: -16%;
	opacity: 0;
}

#red-end {
	opacity: 0;
	position: absolute;
	width: 90%;
	top: -52%;
	left: 55%;
}

#text1, #text2, #text3, .info {
	position: absolute;
	opacity: 0;
	color: white;
	text-align: center;
}

#text1, #text2 {
	font-size: 2.5em;
}

#text3 {
	color: black;
	font-size: 0.7em;
	top: 77%;
	padding: 0 10px 0 10px;
}

#first {
	font-size: 1.2em;
    top: 6%;
    left: 25%;
}

#second {
	font-size: 2em;
    top: 14%;
    left: 13%;
}

#third {
	font-size: 2em;
    top: 29%;
    left: 33%;
}

#fourth {
    top: 33%;
    left: 19%;
}

#fifth {
	top: 30%;
   	right: 10%;
}

#sixth {
	top: 36%;
    left: 69%;
}

#fourth, #fifth, #sixth {
	font-family: sans-serif;
	font-size: 0.9em;
	font-weight: bold;
}

#qantas-m, #qantas-c, #aa {
	position: absolute;
	opacity: 0;
}

#qantas-m, #qantas-c {
	width: 40%;
	top: 12%;
	left: 2%;
}

#qantas-c {
	top: 32%;
}

#aa {
	width: 49%;
	top: 45%;
	left: 47%;
}

#divider {
	position: absolute;
	opacity: 0;
	color: grey;
	top: 69%;
	left: 37%;
}

#btn {
	position: absolute;
	opacity: 0;
	background-color: white;
	color: red;
	text-align: center;
	text-decoration: none;
	border: none;
	font-family: 'brauerneue-regular';
	top: 45%;
	left: 34%;
	border-radius: 16px;
	padding: 7px 20px;
	display: inline-block;
  	cursor: pointer;
  	box-shadow: 0px 0px 18px #808080;
}

#btn a {
	text-decoration: none;
	font: inherit;
	color: inherit;
	text-shadow: 0.5px 0.5px #808080;
}
